
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid lightgray;
  border-top: 6px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
