
.bs{
    background-color: rgb(196, 174, 85);
    color: chartreuse;
    width:200px;
    height: 100px;
    border: 10px solid black;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.cb{
    background-color: rgb(206, 151, 73);
    color: rgb(120, 227, 13);
    width:200px;
    height: 100px;
    border: 10px solid black;
    box-sizing: content-box;
    margin-bottom: 20px;
}
.d1{
    border: 5px solid black;
    color: darkslateblue;
    box-sizing: border-box;
    height: 80px;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    background-color: cornflowerblue;
}
