
body{
    background-color: lightpink;
}
.price
{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   gap: 50px;

}
hr{
    cursor: pointer;
}

h1
{
    text-align: center;
    color: rgb(14, 14, 15);
    border-radius: 10%;
    background-color: rgb(213, 182, 207) ;
}
.plan{
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.basic{
    background-color: rgb(175, 136, 196);
    color: rgb(87, 7, 116);
    border: 5px solid rgb(0, 0, 0);
}
.standard{
    background-color: rgb(160, 95, 121);
    color: rgb(153, 31, 123);
    border: 5px double rgb(18, 12, 12);
}
.premium{
    background-color:rgb(135, 149, 112);
    color: rgb(60, 97, 29);
    border: 5px dashed rgb(0, 0, 0);
}
u{
    color: white;
}
.plan:hover{
    border-radius: 30%;
}
h1:hover{
    background-color: rgb(74, 13, 118);
    color: rgb(116, 86, 109);
    border-radius: 5%;
}
