
h1{
    color: deeppink;
    background-color: gray;
    text-decoration: dotted underline;
    text-align: center;
}
.ab{
    color: violet;
    background-color: black;
    margin-left: 30px;
}
.cd{
    color: white;
    background-color: black;
    margin-right: 60px;
}
